<form class = "answer_comment_form" method="post" action="/questions/<%=question.id%>/answer_comment/<%=answer.id%>">
  <!--make the below form a partial-->
  <textarea cols="30" rows="1" name="body" type="text" ></textarea><br><br>
   <input type="submit" value="submit">
</form>
