<div id="header">
  <div id="nav">
    <ul>
      <li class = "nav_li"><a href="/">Home</a></li>
      <li class = "nav_li"><a href="/questions">Questions</a></li>
      <li class = "nav_li"><a href="/users/profile">Profile</a></li>
      <li class = "nav_li"><a href="/questions/new">Ask a question</a></li>
    </ul>
  </div>
</div>
