<form class = "question_comment_form" method="post" action="/questions/<%=question.id%>/question_comment">
  <!--make the below form a partial-->
  <textarea cols="30" rows="1" name="body" type="text" ></textarea><br><br>
   <input type="submit" value="submit">
</form>
